@import '~antd/dist/antd.css';
.App,.App>.ant-layout{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

  .logo {
    float: left;
    height: 30px;
    margin-right: 20px;
  }
  .logo>img{
      opacity: 0.6;
  }
  .ant-menu{
    float: left;
  }
  .ant-menu,.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub,.ant-layout-sider{
      background: rgba(9,11,59,1); 
  }
  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu{
      border-bottom: 4px solid transparent;
      padding: 0 25px;
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
      border-bottom: 4px solid red;
      background: transparent;
      color: #fff;
  }
  .ant-layout-header{
    background:rgba(4,6,55,1);
    padding-left:15px;
    padding-right:0;
    height: 50px;
    line-height: 46px;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background:#0062ff;
  }
  .ant-layout-sider .ant-menu-item{
    font-size:13px;
    font-weight:400;
    color:#999;
  }
  .ant-layout-sider .ant-menu-item-selected{
    font-size:14px;
    font-weight:500;
    color:rgba(255,255,255,1)
  }
  .ant-menu-horizontal{
      border-bottom: none;
      
  }
  .ant-layout-header .ant-menu-item{
      color: #999;
      font-size: 15px;
  }
  .trigger {
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 40px;
    color:rgba(187,187,187,1);
  }
  .right-my{
    height: 50px;
    float: right;
    color: #fff;
    display: flex;
    line-height: 50px;
    .avatar{
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #eee;
      position: relative;
      top: 10px;
      margin-left: 5px;
      img{
        width: 100%;
        height: 100%;
        object-fit:fill;
        vertical-align:top;
        transform: scale(0.8);
      }
    }
    .userName{
      font-size: 18px;
      max-width:130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 10px;
    }
    .text{
      font-size: 12px;
      margin-left: -15px;
      margin-right: 15px;
    }
  }
  .ant-dropdown-menu {
    border-radius: 5px;
    padding: 4px 20px;
  }